.bc-zoom.featherlight {
  background: rgba(250,250,250,.9);
  cursor: zoom-out;
  .featherlight-content {
    margin-right: 40px;
    margin-left: 40px;
    padding: 0;
    border-bottom: 0px solid rgba(0, 0, 0, 0);
  }
  .featherlight-close-icon {
    display: none;
  }
  .featherlight-next,.featherlight-previous {
    top: 0;
      span {
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.11);
      }
  }
  .featherlight-next {
    right: 0;
    cursor: e-resize;
  }
  .featherlight-previous {
    left: 0;
    cursor: w-resize;
  }
}

.bc-gallery.featherlight {
  .featherlight-content {
    // cursor: e-resize;
  }
}

.featherlight-loader {
  position: relative;
}

.gallery__loader {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  background: transparent;
}

.gallery__loader > div {
  background-color: #AAA;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.gallery__loader .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.gallery__loader .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.gallery__loader .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.gallery__loader .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
