.widget_simple_modal {
  $base-border-color: #dcdcdc !default;
  $base-background-color: #fff !default;
  $base-font-size: 1em !default;
  $base-line-height: 1.5em !default;
  $action-color: #477dca !default;
  $dark-gray: #333 !default;
  $light-gray: #ddd !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $modal-padding: 5em;
  $modal-background: $base-background-color;
  $modal-close-color: $black;
  $modal-close-size--wide: 3.5rem;
  $modal-close-size--narrow: 3rem;
  $modal-image-height: 135px;
  $modal-image-width: $modal-image-height;
  $modal-trigger-image-width: 300px;

  .ajax-loader {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5em;
  }

  label {
    cursor: pointer;
    margin-bottom: 0;
    display: inline-block;
  }

  label img {
    border-radius: $modal-trigger-image-width / 2;
    display: block;
    max-width: $modal-trigger-image-width;
  }

  .modal-trigger {
    display: inline-block;
    h3 {
      margin-bottom: 0;
      font-style: italic;
      font-size: 1.2em;
      text-transform: uppercase;
    }
  }

  .modal-state {
    display: none;
  }

  .modal-fade-screen { // overlay
    @include transition(opacity 0.25s ease);
    @include position(fixed, 0);
    background-color: rgba(#000, 0.85);
    opacity: 0;
    padding-top: 0.6em;
    text-align: left;
    visibility: hidden;
    z-index: 99999999999;

    @include media($large-screen) {
      padding-top: 10em;
    }

    .modal-bg {
      @include position(absolute, 0);
      cursor: pointer;
    }
  }

  .modal-close {
    font-size: $modal-close-size--narrow;
    width: $modal-close-size--narrow;
    height: $modal-close-size--narrow;
    background: transparent;
    padding: 0;
    top: 0;
    right: 0;
    text-align: center;
    overflow: hidden;
    border: none;
    color: $black;
    outline: none;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    transition: color ease .4s;
    position: absolute;
    @extend .dashicons;
    @extend .dashicons-no-alt;
    @include hover-grow();
    &:hover,&:focus,&:active {
      color: lighten($black,20%);
    }
    @include media($phone) {
      font-size: $modal-close-size--wide;
      width: $modal-close-size--wide;
      height: $modal-close-size--wide;
    }
  }

  .modal-inner {
    @include transition(opacity 0.25s ease);
    background: $modal-background;
    border-radius: $base-border-radius;
    margin-top: 0;
    margin: auto;
    max-height: 95%;
    overflow: auto;
    padding: $modal-padding / 2;
    position: relative;
    width: 95%;

    @include media($medium-screen) {
      max-height: 70%;
      padding: $modal-padding;
      width: 60%;
    }

    @include media($large-screen) {
      width: 50%;
    }

    h1 {
      color: $base-font-color;
      text-align: left;
      text-transform: capitalize;
    }

    p {
      color: $base-font-color;
      line-height: $base-line-height;
      text-align: center;
    }

    .modal-intro {
      margin-bottom: 1em;
    }

    .modal-content {
      color: $base-font-color;

      @include media($medium-screen) {
        @include columns(2 8em);
      }
    }

    a.cta {
      color: $base-background-color;
      display: inline-block;
      margin-right: 0.5em;
      margin-top: 1em;

      &:last-child {
        padding: 0 2em;
      }
    }
  }

  .modal-state:checked + .modal-fade-screen {
    opacity: 1;
    visibility: visible;
  }

  .modal-state:checked + .modal-fade-screen .modal-inner {
    top: 0.5em;
  }
}

.modal-open {
  overflow: hidden;
}

footer {
  .widget_simple_modal {
    .modal-inner {
      max-width: 42em;
      width:95%;
      margin:0 auto;
      max-height: 80%;
      padding: 1.4em;
      @include media($phone) {
        width: 80%;
        padding: 2.4em;
      }
    }

    form {
      text-align: center;
      .fa {
        margin-right:10px;
      }

      span.your-name,
      span.your-email,
      span.your-message {
        width: 100%;
        float: none;
        margin-bottom: $small-spacing;
      }

      input[name="your-name"],
      input[name="your-email"],
      textarea[name="your-message"] {
        background: $off-white;
        border-width: 2px;
        border-radius: 0;
        padding: 0.5em 0.8em;
        font-size:1em;
        color:#111;
        margin-bottom: .25em;
      }

      textarea[name="your-message"] {
        font-size: 1em;
        height: 8em;
        margin-bottom: 0.25em;
      }

      input[type="submit"] {
        font-size:1.2em;
        background: transparent;
        color: $black;
        transition: all ease .02s;
        &:hover, &:active, &:focus {
        }
        @include media($phablet) {
          font-size: 1.6em;
        }
      }

      ::-webkit-input-placeholder {
        color: #696969;
      }

      :-moz-placeholder {
       color: #696969;
      }

      ::-moz-placeholder {
       color: #696969;
      }

      :-ms-input-placeholder {
       color: #696969;
      }


      @include media($small-tablet) {
        span.your-name,
        span.your-email {
          width:49%;
          float: left;
        }

        span.your-email {
          margin-right: 0;
          float: right;
        }

        .wrap h1 {
          font-size:2.3em;
          letter-spacing:0;
        }

        .wrap p {
          font-size:1.1em;
          line-height:1.4em;
        }

        .name,.email {
          width:100%;
        }

        .email {
          margin-top:20px;
        }

        .bigBtn {
          font-size:1.3em;
        }

      }
    }

  }
}

// Based on code by Kasper Mikiewicz
