section.widget_search {
  @include outer-container
  padding: 0 2%;
  form.search-form {
    margin-top: 0;
  }
}

form.search-form {
  width: 97%;
  float: right;
  margin: 1em;
  .hide {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px; width: 1px;
    margin: -1px; padding: 0; border: 0;
  }
  .input-group {
    @include outer-container;
    float: right;
    button {
      color: black;
      border-bottom: 0;
      cursor: pointer;
      font-size: 1.7em;
      width: auto;
      height: 40px;
      .search-submit__text {
        display: none;
      }
    }
    input.search-field {
      font-size: .9em;
      width: 10em;
      margin-right: .3em;
      padding: .5em .7em;
      border-radius: 2%;
      display: inline-block;
      transition: width .3s ease-in-out;
      &:active,
      &:focus {
        width: 13em;
      }
      &::placeholder {
        color: black;
        opacity: .8;
      }
    }
  }
}

span.search-term {
  font-weight: bold;
  &:before {
    content: "‘";
  }
  &:after {
    content: "’";
  }
}
