.social__links {
  @extend %unstyled-list;
  svg:hover {
    fill: darkslateblue;
  }
  li {
    display: inline-block;
    margin-right: 1em;
    &.social__icon {
      width: 2em;
      @include hover-grow();
    }
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  .email {
    display: block;
    margin-top: .5em;
    a {
      color: lighten($white,10%);
      font-size: 1.4em;
      &:hover {
        color: lighten($white,5%);
      }
    }
  }
}
