video.responsive {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  @include media($tablet) {
      display: block;
  }
}

#sound {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 2.7em;
  right: 2.5em;
  z-index: 15;
  cursor: pointer;
  transition: all .4s ease-in-out;
  display: none;
  @include media($tablet) {
    display: block;
  }
  &.disabled {
    cursor: default;
    display:none;
  }
  img {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: transform .07s ease;
    @include hover-grow();
  }
  .black {
    opacity: .5;
  }
}

#sound.muted {
  .white {
    opacity: 1;
  }
  .black {
    opacity: 0;
  }
}
