#blog-loop {
  @include row;
}

article.hentry.category-blog {
  @include span-columns(11);
  @include shift(.5);
  margin-bottom: 2.5em;
  .entry-image,
  .entry-text {
    @include fill-parent();
  }
  img {
    width: 100%;
    display: block;
  }
  @include media($phablet) {
    .entry-image {
      @include span-columns(8);
    }
    .entry-text {
      @include span-columns(4);
    }
  }
  a {
    text-decoration: none;
    h2 {
      color: black;
      font-size: 1.5em;
      text-align: left;
      text-transform: none;
      &:hover {
        color: black;
      }
    }
    &:hover h2{
      text-decoration: underline;
    }

    p {
      color: $base-font-color;
      padding: 0;
      font-size: 1em;
    }
    @include media($tablet) {
      p {
        font-size: 1.2em;
      }
      h1 {
        font-size: 1.8em;
      }
    }
  }
}
