#{$all-buttons} {
  appearance: none;
  background-color: $action-color;
  border: 0;
  border-radius: $base-border-radius;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: shade($action-color, 20%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $action-color;
    }
  }
}

form [type="submit"] {
  padding: 0;
  @extend %page-title;
  display: inline-block;
  line-height: 1.5;
  text-align: center;
  border-bottom: $base-border;
  text-align:center;
  background: transparent;
}


/* Effect 3: bottom line slides/fades in */
.btn-effect--fade {
  position: relative;
  &:after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: rgba($black,.6);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.095s, -webkit-transform 0.095s;
    -moz-transition: opacity 0.095s, -moz-transform 0.095s;
    transition: opacity 0.095s, transform 0.095s;
    transform: translateY(1px);
  }
  &:hover::after {
    opacity: 1;
    transform: translateY(1px);
  }
}
