@font-face {
    font-family: 'TWCen';
    src: url("../fonts/TWCen.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'adelle_rgregular';
    src: url("../fonts/typetogether_adelle-regular-webfont.eot");
    src: url("../fonts/typetogether_adelle-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/typetogether_adelle-regular-webfont.woff") format("woff"), url("../fonts/typetogether_adelle-regular-webfont.ttf") format("truetype"), url("../fonts/typetogether_adelle-regular-webfont.svg#adelle_rgregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Karla', sans-serif;
}
