%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

%hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

%left {
    float: left;
}

%right {
    float: right;
}

%absolute-centering {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

%text-centered {
    text-align: center;
}

%pseudo-element {
    position: absolute;
    display: block;
    content: '';
}

%unstyled-list {
    padding: 0;
    list-style: none;
}

.hide-overflow {
    overflow: hidden;
}

.hidden {
  visibility: hidden;
}

%arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-bottom: 10px solid black;
  bottom: 100%;
  left: calc(50% - 10px);
}

%arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-top: 10px solid black;
}

%arrow-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-left: 10px solid black;
}

%arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right: 10px solid black;
}
